body{
  margin:0;
  height:100vh;
  background:linear-gradient(135deg,#fde2ff,#e8f3ff);
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:'Segoe UI',sans-serif;
  overflow:hidden;
}

.card{
  background:white;
  padding:30px;
  width:400px;
  border-radius:24px;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,0.15);
  animation:float 3s ease-in-out infinite;
  z-index:2;
}

@keyframes float{
  0%{transform:translateY(0)}
  50%{transform:translateY(-10px)}
  100%{transform:translateY(0)}
}

h1{
  color:#7c3aed;
  margin-bottom:10px;
}

p{
  font-size:15px;
  line-height:1.7;
  color:#444;
}

button{
  margin-top:12px;
  background:#7c3aed;
  border:none;
  color:white;
  padding:12px 24px;
  border-radius:25px;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  background:#6d28d9;
  transform:scale(1.05);
}

.hug{
  font-size:44px;
  animation:hug 1.2s infinite;
}

@keyframes hug{
  0%{transform:scale(1)}
  50%{transform:scale(1.3)}
  100%{transform:scale(1)}
}

.heart{
  position:absolute;
  bottom:-20px;
  font-size:20px;
  animation:up 4s linear forwards;
}

@keyframes up{
  0%{transform:translateY(0);opacity:1}
  100%{transform:translateY(-110vh);opacity:0}
}

.meme{
  font-size:42px;
  margin:10px 0;
}
